{
    "name": "mysql",
    "desc": "mysql Movie Database Test for: mysql",
    "appnode": 1,
    "host": "127.0.0.1",
    "username": "movie_json_user",
    "password": "Ch@nge_me_1st",
    "database": "movie_json_test",
    "bench_active": 0,
    "type": "mysql",
    "website_workload": 5,
    "reporting_workload": 0,
    "comments_workload": 14,
    "longtrans_workload": 0,
    "title_idx": 1,
    "year_idx": 1
}