{
    "name": "pg",
    "desc": "postgresql Movie Database Test for: pg",
    "appnode": 1,
    "host": "host.docker.internal",
    "username": "edb_admin",
    "password": "testtesttest",
    "database": "bdrdb",
    "bench_active": 1,
    "type": "postgresql",
    "website_workload": 18,
    "reporting_workload": 3,
    "comments_workload": 6,
    "longtrans_workload": 0,
    "title_idx": 1,
    "year_idx": 1
}
